<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Errores:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><b>Ingresa tus datos personales</b></div>
  <br/>
  <div class="field">
    <%= f.label "Nombre" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Apellido" %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label "Correo electronico" %><br />
    <%= f.text_field :email %>
  </div>
  <br/>
  <div><b>Selecciona tu telefono</b></div>
  </br>
  <div class="field">
    <%= f.collection_select :phone_id, User.phones, :first, :last %>
  </div>
  <br/>
  <div><b>Familiares</b></div>
  <br/>

  <div class="field">
    <%= User.familiarPhones[1] %> <b>Costo Mensual:</b> <%= number_to_currency User.familiares[1] %> <b>Pago unico de:</b> <%= number_to_currency User.downpayment[1] %>
    <br/><br/>
    Cantidad: <%= f.select :phone1, ((1..10).map {|i| [i,i] } << ["Ninguno",0]), @user.phone1.nil? ? {:selected => 0 } : {:selected => @user.phone1} %>
  </div>

  <div class="field">
    <%= User.familiarPhones[2] %> <b>Costo Mensual:</b> <%= number_to_currency User.familiares[2] %> <b>Pago unico de:</b> <%= number_to_currency User.downpayment[2] %>
    <br/><br/>
    Cantidad: <%= f.select :phone2, ((1..10).map {|i| [i,i] } << ["Ninguno",0]), @user.phone2.nil? ? {:selected => 0 } : {:selected => @user.phone2} %>
  </div>

  <div class="field">
    <%= User.familiarPhones[3] %> <b>Costo Mensual:</b> <%= number_to_currency User.familiares[3] %> <b>Pago unico de:</b> <%= number_to_currency User.downpayment[3] %>
    <br/><br/>
    Cantidad: <%= f.select :phone3, ((1..10).map {|i| [i,i] } << ["Ninguno",0]), @user.phone3.nil? ? {:selected => 0 } : {:selected => @user.phone3}%>
  </div>
  <br/><br/>
  <div><b>Pago Mensual</b></div>
  <br/>
  <div class="field">
    <span class='total' id='total'></span>
  </div>
  <br/><br/>

  <div><b>Pago Unico</b></div>
  <br/>
  <div class="field">
    <span class='total' id='uniquePayment'></span>
  </div>
  <br/><br/>
  <div class="field">
    <%= f.submit "Enviar"%>
  </div>
  <br/><br/>
<% end %>
