<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= User.phones[@user.phone_id] %>
</p>

<br/><br/>
<p><b>Familiares</b></p>
<p>
  <%= User.phones[1] %> :
  <b><%= @user.phone1 %> Unidades</b>
</p>

<p>
  <%= User.phones[2] %> :
  <b><%= @user.phone2 %> Unidades</b>
</p>

<p>
  <%= User.phones[3] %> :
  <b><%= @user.phone3 %> Unidades</b>
</p>

<br/><br/>
<p>
  <b>Pago Mensual:</b>
  <br/><br/>
  <span class='total'><%= number_to_currency @user.total %> MXN </span>
</p>

<br/><br/>
<p>
  <b>Pago Unico:</b>
  <br/><br/>
  <span class='total'><%= number_to_currency @user.unique %> MXN </span>
</p>

<br/><br/>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Regresar', users_path %>
