<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @user.name %>
</p>

<p>
  <b>Apellido:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Correo Electronico:</b>
  <%= @user.email %>
</p>

<p>
  <b>Telefono seleccionado:</b>
  <%= User.phones[@user.phone_id] %>
</p>

<br/><br/>
<p><b>Familiares</b></p>
<p>
  <%= User.familiarPhones[1] %> :
  <b><%= @user.phone1 %> Unidades</b>
  Costo Mensual:
  <b><%= number_to_currency (User.familiares[1] * @user.phone1) %> MXN</b>
  Pago Unico:
  <b><%= number_to_currency (User.downpayment[1] * @user.phone1) %> MXN</b>
</p>

<p>
  <%= User.familiarPhones[2] %> :
  <b><%= @user.phone2 %> Unidades</b>
  Costo Mensual:
  <b><%= number_to_currency (User.familiares[2] * @user.phone2) %> MXN</b>
  Pago Unico:
  <b><%= number_to_currency (User.downpayment[2] * @user.phone2) %> MXN</b>
</p>

<p>
  <%= User.familiarPhones[3] %> :
  <b><%= @user.phone3 %> Unidades</b>
  Costo Mensual:
  <b><%= number_to_currency (User.familiares[3] * @user.phone3) %> MXN</b>
  Pago Unico:
  <b><%= number_to_currency (User.downpayment[3] * @user.phone3) %> MXN</b>
</p>

<br/><br/>
<p>
  <b>Pago Mensual:</b>
  <br/><br/>
  <span class='total'><%= number_to_currency @user.total %> MXN </span>
</p>

<br/><br/>
<p>
  <b>Pago Unico:</b>
  <br/><br/>
  <span class='total'><%= number_to_currency @user.unique %> MXN </span>
</p>

<br/><br/>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Regresar', users_path %>
